DEVELOPMENT=false

LISTEN_HOST=0.0.0.0
LISTEN_PORT=8000
TYPESENSE_API_KEY=
TYPESENSE_HOST=
TYPESENSE_PORT=443
TYPESENSE_PROTOCOL="https"
ALLOWED_HOSTS="127.0.0.1:*,localhost:*,host.docker.internal:*"
ALLOWED_ORIGINS="http://127.0.0.1:*,http://localhost:*,http://host.docker.internal:*"

LOG_DIR=logs
LOG_LEVEL=INFO
LOG_MAX_BYTES=10485760
LOG_BACKUP_COUNT=5
LOG_TO_CONSOLE=true
